@media only screen and (max-width: 50em){


    header {
        grid-template-columns: 150px auto;
        
    }
    
    #nav-logo {
        max-width: 150px;
        max-height: 150px;
        
    }
    
    nav a {
        font-size: 1.2em;
    
        
    }
    
    #home-grid {
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
    #home-grid h1, #home-grid h2 {
        grid-column: 2/3;
        font-size: 1.4em;
        
    }
    
    #home-grid p{
        grid-column: 2/3;
        font-size: 1.1em;
    }
    
    #home-grid img{
        grid-column: 2/3;
        width: 400px;
        height: 300px;

    }

    
    footer p, a {
        font-size: 1em;
    }
    h1{
        padding-top: 30px;
    }
    /*PAGE 2*/
    #audience-grid {
        grid-template-columns: 1fr 1fr 1fr ;
    }
    #audience-grid h1, #audience-grid h2 {
        grid-column: 2/3;
        font-size: 1.4em;
        
    }
    
    
    
    #audience-grid p{
        grid-column: 2/3;
        font-size: 1.1em;
        line-height: 28px;
    }
    
    section img{
        
        max-width: 300px;
        max-height: 220px;
        
    }
    #persona1, #persona2, article {
        grid-column: 2/3;
        
    }
    
    
    hr {
        border-top: 2px solid #023C40  ;
        grid-column: 2/3;
        
    }

    /*PAGE 3*/

    #design-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
    #design-grid h1, #design-grid h2, #design-grid h3, #design-grid h4, #design-grid h5 {
        grid-column: 1/4;
        
    }
    
    #design-grid p{
        grid-column: 1/4;
        font-size: 1.1em;
        line-height: 25px;
        padding: 20px 30px;
        
    }
    
    #design-grid h5 {
        font-size: 1.2em;
    }
    
    
    #design-grid table{
        grid-column: 1/4;
        font-size: 1.1em;
        padding: 0 20px;
    }
    

}