@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@500&display=swap');
body {
    margin: auto;
    max-width: 1600px;
    display: grid;
    grid-template-rows:  auto 1fr auto;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    
}


header {
    background-color: #31081f;
    display: grid;
    grid-template-columns: 250px 1fr auto;
    
    
}
header > a {
    justify-self: center;
}

#nav-logo {
    max-width: 150px;
    max-height: 120px;
    padding: 20px 20px 0px 20px;
    justify-self: center;
    
    
}

#social-media {
    grid-column: 2/3;
    align-self: center;
    justify-content: flex-end;
    display: flex;
}

#social-media img{
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 20px;
}


nav button {
    margin: 20px;
    background: transparent;
    border: none;
    font-size: 3rem;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, .5);
}
nav ul li.active a {
    background-color: rgba(0, 0, 0, .2);
}
nav ul li a:hover {
    background-color: #93C0A4;
}

nav ul {
    position: fixed;
    left: 100%;
    top: 9rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s ;
    z-index: 98;
}

nav ul.open {
    display: flex;
    left: 0%;
    flex-direction: column;
    background-color: #023C40;
    width: 100%;
    transition: 0.5s ;
    z-index: 99;
    
    
}


#hamburguerBtn span:nth-child(1){display: block;}
#hamburguerBtn span:nth-child(2){display: none;}

#hamburguerBtn.open span:nth-child(1){display: none;}
#hamburguerBtn.open span:nth-child(2){display: block;}

nav li {
    text-decoration: none;
    color: #ffffff;
    font-family: "Unbounded", sans-serif;
    font-size: 1.4em;
    list-style-type: none;

    
}

nav {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.date {
    grid-column: 1/4;
    background-color: #023C40;
    margin-top: 10px;
}
.date p {
    margin: 5px 0;
    color: white;
    font-family: "Open Sans";
    font-style: italic;
    text-align: center;
    font-size: .7em;
}

#banner {
    display: flex;
    flex-direction: row;
    grid-column: 1/4;
    background-color: #93C0A4;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
#banner p {
    margin: 5px;
    color: #31081f;
    font-family: "Open Sans";
    font-style: italic;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
#banner p:nth-child(1){
    margin-left: auto;
}
#banner #closeBanner {
    margin-left: auto;
    justify-self: flex-end;
    cursor: pointer;
}

#home-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 20px 0;
    
    
}
#home-grid div {
    
    border: none;
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
    
    
}
#home-grid p{
    font-family: "Open Sans";
    text-align: justify;
    font-size: 1em;
    padding: 20px;
    line-height: 25px;
}
#hero-img {
    position: relative;
    background: url(../images/montclair-hero-img.jpeg) no-repeat center;
    background-size: 100% 100%;
    height: 400px;
    
}
#hero-img img{
    width: 100%;
    height: auto;
}

#hero-img h1{
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 1.6rem;
    font-family: "Unbounded";
    color: #31081f;
    text-shadow:0 0 40px #ffffff ;
    
}

#hero-img button {
    background-color: #023C40;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "Open sans";
    padding: 12px 28px;
    border-radius: 12px;
    position: absolute;
    bottom: 25px;
    right: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    
}

#hero-img button:hover {
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    font-weight: bolder;
}

#event {
    text-align: center;
}

#event h1, #event h3 {
    font-family: "unbounded";
    color: #023C40;
}

#event h1 {
    font-size: 1.4rem;
}
#event h3 {
    font-size: 1.2rem;
}
#event p {
    font-family: "open sans";
    font-size: 1rem;
    text-align: left;
}
#event span{
    color: #023C40;
}

#weather {
    text-align: center;
    font-family: "unbounded";
    
}
#weather img{
    width: 100px;
    height: auto;
    align-self: center;
}
#weather h1{
    color: #023C40;
    font-size: 1.4rem;
    
}
#weather h2{
    color: #31081f;
    font-size: 1.2rem;
    
}

#news h1{
    font-family: "unbounded";   
    font-size: 1.4rem;
    color: #023C40 ; 
    text-align: center;
}
#news p{
    font-family: "Open sans";   
    font-size: 1rem;
    text-align: left;
}



#spotlight {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#spotlight div {
    margin: 20px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: none;
    
}

#join {
    display: none;
}
#spotlight img{
    width: 100px;
    height: auto;
    align-self: center;
}

#spotlight1 h1{
    text-align: center;
    font-family: "unbounded";
    font-size: 1.4rem;
    color: #023C40 ;
    
}
#spotlight1 p{
    text-align: center;
    font-family: "open sans";
    font-size: 1rem;
}
#spotlight2 h1 {
    text-align: center;
    font-family: "unbounded";
    font-size: 1.4rem;
    color: #023C40;
}
#spotlight2 p{
    text-align: center;
    font-family: "open sans";
    font-size: 1rem;
}
hr{
    color: #31081f ;
    width: 80%;
}
#spotlight #spotlight3 {
    display: none;
}

#spotlight p{
    margin: 0;
}

footer {
    display: flex;
    background-color: #31081f ;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20px;
    

}

footer h5 {
    color: white;
    font-family: "Unbounded", sans-serif;
    text-decoration: none;
    font-size: .9em;
}
footer h6 , footer p{
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: .7em;
}
footer a {
    text-decoration: none;
}

footer a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

footer img {
    width: 150px;
    height: 120px;
    margin-top: 50px;
}



.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    
    
}
.contact-info h5 {
    margin-bottom: 0px;
}

.contact-info h6 {
    margin: 0px;
}



.pageInfo {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
    width: 100%;
    background-color: #023C40;
    font-style: italic;
    margin-top: 20px;
}

#webInfo {
    margin: 7px 0;
}

/*DISCOVER PAGE*/
/*????????????????????????????????????????????????????????*/

#discover-grid img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

#discover-grid p{
    font-family: "open sans", sans-serif;

}

#discover-grid h1, #discover-grid h2 {
    font-family: "unbounded", sans-serif;
}

#discover-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 40px;
    
}

#discover-hero img{
    width: 100%;
    height: auto;
    border-radius: 0;
}

#hero-box { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: black;
}

#hero-box p{
    font-size: 1.2em;
    padding: 0 20px;
}
.discover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0px;
    padding: 0px 20px;
}





/*JOIN PAGE*/
/*????????????????????????????????????????????????????????*/
#join-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join-TextBox { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: black;
}

#join-TextBox h1{ 
    font-family: "unbounded";
}

#join-TextBox p{
    font-size: 1.2em;
    padding: 0 20px;
    font-family: "open sans", sans-serif;
}

#memberships {
    width: 470px;
    min-width: fit-content;
    max-width: fit-content;
    padding: 1% 0;
    background-color: white;
    border-radius: 20px;
    margin: 40px 0;

}

table {
    font-size:1vh;
    text-align: center;
    border-collapse: separate;
    background-color: transparent;
}

th{
    padding: 2% 0;
    font-family: "unbounded";
    border-radius: 20px;

}

thead tr{
    background-color: #31081f;
    color: white;
     
}
thead tr th{
    padding: 20px 15px;
    
}
table tbody tr:last-child{
    background-color: #023C40;
    color: white;
}
td{
    
    border-radius: 20px;


}

tbody tr:nth-child(even){
    background-color: rgba(0, 0, 0, .1);
    
}

.cross {
    color: red;
    font-weight: bold;
}
.check{
    color: green;
    font-weight: bolder;
}

#form {
    width:100%;
}
form{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}


form fieldset{
    margin: 2rem 0;
    border: 0px;
    border-radius: 10px;
    padding: 1rem 2%;
    margin: 0 0 40px 0;
    width: 430px;
    background-color: white;
}



form legend{
    color: white;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: "unbounded";
    background-color: #023C40;
    border-radius: 10px;
}
input{
    margin: 0;
}

form label.top{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    color: #31081f;
    font-size: 1.1rem;
    width:100%;
    font-family: "open sans";
    
}


form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.06);
    border-left: 2px solid black;

}
form label.sbs, form div{
    display: block;
    padding-top: 2rem;
    color: #31081f;
    font-size: 1.1rem;
    width:100%;
    font-family: "open sans"
}
form input.submitBtn{
    border: 4px solid white;
    background-color: #6a063f;
    color: white;
    border-radius: 2rem;
    padding: 1.5rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
    font-size: 1.5rem;
    font-family: "unbounded";
}
form input.submitBtn:hover{
    color: black;
    background-color: #93C0A4;
    cursor: pointer;
}


form label.top input:required{
    border-left: red solid 2px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}




/*DISCOVERY PAGE*/
/*????????????????????????????????????????????????????????*/

#directory-grid{
    margin: 20px 20px;
}
#directory-grid h1{
    font-family: "unbounded";
    text-align: center;
    margin: 30px auto 50px;
    
}
#menu{
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
    gap: 20px;
}
#menu button{ 
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#menu button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
#menu button.active{
    background-color: #31081f;
    color: white;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 0;
    
}
.cards img {
    max-height: 120px;
    max-width: 240px;
    margin-bottom: 30px;
}

.cards h2{
    display: none;
}
  
.cards section {
    margin: 0.5rem;
    padding: 0.35rem;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: auto;
}
.cards section > p {
    margin-top: 0px;
    text-align: center;
    font-family: "open-sans";
}

.cards a{
    padding: 0 20px 20px;
}

.list{
    display: flex;
    flex-direction: column;
}

.list section {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: auto;
    
}

.list h2 {
    display: block;
    text-align: left;
    font-family: "unbounded";
    font-size: 1rem;
}

.list section p{
    font-size: 1rem;
    margin: 3px;
    text-align: left;
    font-family: "open-sans";

}

.list section a{
    margin: 5px;
}

.list img{
    display: none;

}
.list section:nth-child(even) {
	background-color: #bcdac8;
}