@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@500&display=swap');
body {
    margin: auto;
    max-width: 1600px;
    display: grid;
    grid-template-rows:  auto 1fr auto;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    
}


header {
    background-color: #31081f;
    display: grid;
    grid-template-columns: 250px 1fr auto;
    
    
}
header > a {
    justify-self: center;
}

#nav-logo {
    max-width: 150px;
    max-height: 120px;
    padding: 20px 20px 0px 20px;
    justify-self: center;
    
    
}

#social-media {
    grid-column: 2/3;
    align-self: center;
    justify-content: flex-end;
    display: flex;
}

#social-media img{
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 20px;
}


nav button {
    margin: 20px;
    background: transparent;
    border: none;
    font-size: 3rem;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, .5);
}
nav ul li.active a {
    background-color: rgba(0, 0, 0, .2);
}
nav ul li a:hover {
    background-color: #93C0A4;
}

nav ul {
    position: fixed;
    left: 100%;
    top: 9rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s ;
    z-index: 98;
}

nav ul.open {
    display: flex;
    left: 0%;
    flex-direction: column;
    background-color: #023C40;
    width: 100%;
    transition: 0.5s ;
    z-index: 99;
    
    
}


#hamburguerBtn span:nth-child(1){display: block;}
#hamburguerBtn span:nth-child(2){display: none;}

#hamburguerBtn.open span:nth-child(1){display: none;}
#hamburguerBtn.open span:nth-child(2){display: block;}

nav li {
    text-decoration: none;
    color: #ffffff;
    font-family: "Unbounded", sans-serif;
    font-size: 1.4em;
    list-style-type: none;

    
}

nav {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.date {
    grid-column: 1/4;
    background-color: #023C40;
    margin-top: 10px;
}
.date p {
    margin: 5px 0;
    color: white;
    font-family: "Open Sans";
    font-style: italic;
    text-align: center;
    font-size: .7em;
}

#banner {
    display: flex;
    flex-direction: row;
    grid-column: 1/4;
    background-color: #93C0A4;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
#banner p {
    margin: 5px;
    color: #31081f;
    font-family: "Open Sans";
    font-style: italic;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
#banner p:nth-child(1){
    margin-left: auto;
}
#banner #closeBanner {
    margin-left: auto;
    justify-self: flex-end;
    cursor: pointer;
}

#home-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 20px 0;
    
    
}
#home-grid div {
    
    border: 2px solid #023C40;
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
    
    
}
#home-grid p{
    font-family: "Open Sans";
    text-align: justify;
    font-size: 1em;
    padding: 20px;
    line-height: 25px;
}
#hero-img {
    position: relative;
    /*background: url(../images/montclair-hero-img.jpeg) no-repeat center;
    background-size: 100% 100%;
    height: 400px;
    */
}
#hero-img img{
    width: 100%;
    height: 100%;
}

#hero-img h1{
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 1.6rem;
    font-family: "Unbounded";
    color: #31081f;
    text-shadow:0 0 40px #ffffff ;
    
}

#hero-img button {
    background-color: #023C40;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: "Open sans";
    padding: 12px 28px;
    border-radius: 12px;
    position: absolute;
    bottom: 25px;
    right: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    
}

#hero-img button:hover {
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    font-weight: bolder;
}

#event {
    text-align: center;
}

#event h1, #event h2 {
    font-family: "unbounded";
    color: #023C40;
}

#event h1 {
    font-size: 1.4rem;
}
#event h2 {
    font-size: 1.2rem;
}
#event p {
    font-family: "open sans";
    font-size: 1rem;
    text-align: left;
}
#event span{
    color: #023C40;
}

#weather {
    text-align: center;
    font-family: "unbounded";
    
}
#weather img{
    width: 100px;
    height: auto;
    align-self: center;
}
#weather h1{
    color: #023C40;
    font-size: 1.4rem;
    
}
#weather h2{
    color: #31081f;
    font-size: 1.2rem;
    
}

#news h1{
    font-family: "unbounded";   
    font-size: 1.4rem;
    color: #023C40 ; 
    text-align: center;
}
#news p{
    font-family: "Open sans";   
    font-size: 1rem;
    text-align: left;
}



#spotlight {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#spotlight div {
    margin: 20px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

#join {
    display: none;
}
#spotlight img{
    width: 100px;
    height: auto;
    align-self: center;
}

#spotlight1 h1{
    text-align: center;
    font-family: "unbounded";
    font-size: 1.4rem;
    color: #023C40 ;
    
}
#spotlight1 p{
    text-align: center;
    font-family: "open sans";
    font-size: 1rem;
}
#spotlight2 h1 {
    text-align: center;
    font-family: "unbounded";
    font-size: 1.4rem;
    color: #023C40;
}
#spotlight2 p{
    text-align: center;
    font-family: "open sans";
    font-size: 1rem;
}
hr{
    color: #31081f;
    width: 80%;
}
#spotlight #spotlight3 {
    display: none;
}

#spotlight p{
    margin: 0;
}

footer {
    display: flex;
    background-color: #31081f ;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20px;
    

}

footer h5 {
    color: white;
    font-family: "Unbounded", sans-serif;
    text-decoration: none;
    font-size: .9em;
}
footer h6 , footer p{
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: .7em;
}
footer a {
    text-decoration: none;
}

footer a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

footer img {
    width: 150px;
    height: 120px;
    margin-top: 50px;
}



.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    
    
}
.contact-info h5 {
    margin-bottom: 0px;
}

.contact-info h6 {
    margin: 0px;
}



.pageInfo {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
    width: 100%;
    background-color: #023C40;
    font-style: italic;
    margin-top: 20px;
}

#webInfo {
    margin: 7px 0;
}













