
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600;900&family=Open+Sans:wght@500&family=Roboto:ital,wght@0,300;1,900&display=swap');


h1{
    font-family: "Montserrat";
    font-weight: 900;
}




#tres{
    font-family: "Roboto";
}