@media only screen and (min-width: 36em) {

h6 {
  color: #fdfcdc;
  color: #ff850a;
  color: #f6d43c;
  color: #61a8fa;
  color: #3e721d;
  font-family: "Roboto";
  font-family: "Montserrat";
}


.nav-icon {
  height: 55px;
}

.links a {
  font-size: 1.2rem;
}
#hero{
    height: 600px;
}
#hero .headers {
  font-size: 2.5rem;
}

.hero-paragraph {
  margin: 2rem 3rem 3rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.call {
  padding: 1.2rem;
  font-size: 1.2rem;
}

.hero-image {
  height: 12rem;
}


#drink1 {
  top: 45%;
}

#drink3 {
  top: 70%;
}
#drink4 {
  top: 70%;
}
#drink5 {
  top: 45%;
}

#intro {
  padding: 200px 0;
}
#left-hand {
  width: 15rem;
  top: 15%;
  right: -8%;
}

#right-hand {
  width: 15rem;
  top: 16%;
  left: -3%;
}

#intro h2 {
  font-size: 2rem;
  margin: 200px 0 0;
}
.intro-paragraph,
.location-paragraph {
  margin: 3rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

#weather p {
  padding-top: 40px;
  font-size: 1.3rem;
}
#weather h2{
    font-size: 2rem;
}
#weather h3{
    font-size: 1.5rem;
}



#weather {
  padding: 1rem 0;
}
#weather-icon {
  height: 90px;
}
#weather #temperature {
  font-size: 3rem;
}

#forecast {
  padding: 30px 20px;
}

#location-description{
    height: 400px;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

#info-card {
    padding: 2rem 0;
}


.social {
  width: 70px;
  height: auto;
}
#social{
    height: 400px;
    justify-content: center;
}
#social .headers{
    margin-inline: 20px;
}


#footer-links ul li a {
  font-size: 1.5rem;
}

#webInfo {
  font-size: 1rem;
}

/*----------------FRESH  PAGE-------------------*/


#nav-fresh .links a {
  font-size: 1.2rem;
}
#hero-fresh {
  height: 700px;
}
#hero-fresh .headers {
    font-size: 2.5rem;
  }
#hero-fresh-images {
  height: 400px;
}
#kiwi {
  left: unset;
  right: -4%;
  top: -10%;
}
#apple {
  top: 30%;
  left: unset;
  right: 5%;
}
#banana {
  left: 38%;
  top: 10%;
}
#pineapple {
  left: 17%;
  height: 350px;
  top: -10%;
}
#strawberry {
  top: 0%;
  left: -3%;
}
form {
  padding: 50px 120px;
  align-items: center;

}
form fieldset{
    max-width: 500px;
    min-width: 500px;
}
form fieldset select {
  height: 40px;
}

textarea {
  max-width: 470px;
  min-width: 300px;
  min-height: 50px;
  height: 80px;
  max-height: 200px;
}

.submitBtn {
  margin: 1rem 0;
  cursor: pointer;
}

.submitBtn:hover {
  color: black;
  background-color: #ff850a;
}

#info-fresh {
  padding: 2rem 0 0;
}

#info-fresh #info-card {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding-bottom: 3rem;
  padding-top: 0;
  z-index: 4;
}


#info-card-header {
  border-radius: 20px 20px 0px 0px;
}
#info-fresh #info-card #info-card-header h2 {
  font-size: 2rem;
}

#info-card p {
  font-size: 1.2rem;
}

#info-fresh #info-card h3 {
  font-size: 1.5rem;
}


#info-fresh #info-card #nutrition-facts .paragraphs {
  text-align: right;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-right: 10px;
}

/*----------------ABOUT  PAGE-------------------*/



#about-hero .hero-image{
  max-height: 640px;
}
#about-intro{
    padding: 80px 0;
}
#about-intro img, #about-commitment img{
  max-height: 640px;
}

#about-intro .headers, #about-commitment .headers{
    font-size: 2rem;
  }

#about-intro .intro-paragraph{
  margin: 0 3rem;
  padding-bottom: 100px;
  font-size: 1.4rem;
}


#about-commitment .paragraphs{
  font-size: 1.4rem;
}

#location-map #map{
  width: 500px;
  margin: 2rem 1rem;
}
#location-map{
  margin-top: 150px;
}
}